.ms-box {
    width: 200px;
    text-align: center;
    margin: 20px auto;
    line-height: 150px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ms-bg-fizz {
    background-image: url("../img/Fizz.webp");
}

.ms-bg-buzz {
    background-image: url("../img/buzz.webp");
}

.ms-bg-fizzbuzz {
    background-image: url("../img/fizzbuzz.webp");
}